.cardBorder:hover {
  border: 3px solid #3cedce;
}

.customButton {
  border: none;
  border-radius: 27px 0px;
  background-image: linear-gradient(to right, #1ad4bf, #06abee);
  padding: 0px;
  width: 133px;
  height: 44px;
  color: white;
}
.hrTag {
  border-top: 0px solid white;
  height: 2px;
  background-image: linear-gradient(to right, #1ad4bf, #06abee);
}

.card {
  height: 500px;
}

.size p {
  font-weight: bold;
}

.imageBg {
  background-image: url("../../Illustration/Group\ 46@2x.png");
  background-repeat: no-repeat;
  background-position: -650px -337px;
  background-size: cover;
}
