.achievement-even,
.achievement-odd {
  width: 340px;
  border: none;
  background-image: linear-gradient(to right, #1ad4bf, #06abee);
  color: white;
}
.achievement-odd {
  border-radius: 0px 50px;
}
.achievement-even {
  border-radius: 50px 0;
}
.achievement-even:hover,
.achievement-odd:hover {
  background-color: white;
  color: #707070;
  transition: all 1s;
}
